<!-- #bottom -->
<div id="bottom">

    <!-- .container -->
    <div class="container">

        <!-- .footer-widgets -->
        <div class="footer-widgets">

            <!-- .row -->
            <div class="row">

                <div class="col-sm-4">
                    <div class="widget">
                        <div class="widget_text">
                            <img src="assets/images/logo-white.png" alt="Logo" class="margin-bottom20">
                            <p>Dedicated to contractors and small business owners who want to remove the hassle of accounting and related tedious paperwork.</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="widget">
                        <div class="widget_recent_entries">
                            <h4 class="widget-title">Popular Links</h4>
                            <ul>
                                <li><a href="/support">Contact</a></li>
                                <li><a href="/about">About us</a></li>
                                <li><a href="/about">Services</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="widget">
                        <div class="widget_text">
                            <h4 class="widget-title">Contact Info</h4>
                            <div class="list-icon">
                                <ul>
                                    <li><i class="ion ion-ios-telephone"></i>0208 488 1805</li>
                                    <li><i class="ion ion-ios-email"></i><a href="#">info@extrapay.london</a></li>
                                    <li><i class="ion ion-map"></i>Suite 35 Maddison House, 226 High Street, Croydon, CR9 1DF</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- .row end -->


        </div>
        <!-- .footer-widgets end -->

    </div>
    <!-- .container end -->

</div>
<!-- #bottom end -->

<!-- #footer -->
<footer id="footer">

    <!-- .container -->
    <div class="container">

        <div class="footer-nav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/support">Support</a></li>
                <li><a href="/support">Contact Us</a></li>
            </ul>
            <p>ExtraPay - All rights reserved &copy; 2017</p>
        </div>

        <div class="footer-socials">
            <ul>
                <li><a href="#" title="Facebook"><i class="ion ion-social-facebook"></i></a></li>
                <li><a href="#" title="Twitter"><i class="ion ion-social-twitter"></i></a></li>
                <li><a href="#" title="Google Plus"><i class="ion ion-social-googleplus"></i></a></li>
                <li><a href="#" title="Pinterest"><i class="ion ion-social-pinterest"></i></a></li>
                <li><a href="#" title="Instagram"><i class="ion ion-social-instagram"></i></a></li>
                <li><a href="#" title="Dribbble"><i class="ion ion-social-dribbble"></i></a></li>
            </ul>
        </div>

    </div>
    <!-- .container end -->

</footer>
<!-- #footer end -->

</div>
<!-- #body-wrap end -->

<a href="#" class="scrollup" title="Back to Top!"><i class="ion ion-android-arrow-up"></i></a> <!-- Back to Top -->



<!--[if lt IE 8]>
<div class="browser-notice">
    <div class="container">
      <div class="text">
            <h1>Internet Explorer Out To Date</h1>
            <p>Please update your Internet Explorer browser with a newer version (Internet Explorer 8 above) now!</p>
            <span>You can download it <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie" target="_blank">here....</a></span>
        </div>
    </div>
</div>
<![endif]-->



</body>
</html>
