<!-- #nav-mobile -->
<nav id="nav-mobile">
  <div class="scrollbar-inner">

    <button type="button" ng-click="openMobMenu()" class="navbar-btn-close"><i class="ion ion-close"></i>Close</button>

    <div class="navbar-menu">
      <ul class="nav">
        <li class="menu-item">
          <a href="/">Home</a>
        </li>
        <li class="menu-item">
          <a href="/about">About us</a>
        </li>
        <!-- <li class="menu-item">
          <a href="/reviews">Reviews</a>
        </li> -->
        <li class="menu-item">
          <a href="/support">Contact us</a>
        </li>
      </ul>
    </div>

  </div>
</nav>
<!-- #nav-mobile end -->

<!-- #body-wrap -->
<div id="header">

  <!-- #header -->
  <div id="">

    <!-- #nav-mobile-top -->
    <div id="nav-mobile-top">

      <!-- .container -->
      <div class="container-fluid">
        <div class="navmenu">

          <button type="button" ng-click="openMobMenu()" class="navbar-btn-toggle"><i class="ion ion-navicon"></i></button>

          <div class="navbar-logo">
            <a href="/"><img src="assets/images/logo.png" alt="Logo"></a> <!-- site logo -->
          </div>

        </div>
      </div>
      <!-- .container end -->

    </div>
    <!-- #nav-mobile-top end -->

    <!-- #navigation -->
    <nav id="navigation">

      <!-- .navtop -->
      <div class="navtop">

        <!-- .container -->
        <div class="container">

          <div class="nav-txt">
            <p><i class="ion ion-android-phone-portrait"></i> Have Questions? Call For Free: <strong><a href="#">0203 488 1805</a></strong></p>
          </div>

          <!-- <div class="nav-socials">
            <a href="#" title="Facebook"><i class="ion ion-social-facebook"></i></a>
            <a href="#" title="Google Plus"><i class="ion ion-social-googleplus"></i></a>
            <a href="#" title="Twitter"><i class="ion ion-social-twitter"></i></a>
            <a href="#" title="Instagram"><i class="ion ion-social-instagram"></i></a>
            <a href="#" title="Pinterest"><i class="ion ion-social-pinterest"></i></a>
            <a href="#" title="Vimeo"><i class="ion ion-social-vimeo"></i></a>
            <a href="#" title="Dribbble"><i class="ion ion-social-dribbble"></i></a>
            <a href="#" title="Youtube"><i class="ion ion-social-youtube"></i></a>
          </div> -->

        </div>
        <!-- .container end -->

      </div>
      <!-- .navtop end -->

      <!-- .navbar -->
      <div class="navbar">

        <!-- .container -->
        <div class="container">
          <div class="navbar-wrap">

            <div class="navbar-logo">
              <a href="/"><img src="assets/images/logo.png" alt="Logo"></a> <!-- site logo -->
              <!-- <img class="tag-img" src="assets/images/content/tag.jpg" alt="Logo"> -->
            </div>

            <div class="navbar-menu">
              <ul class="nav">
                <li id="home-menu" class="menu-item">
                  <a href="/">Home</a>
                </li>
                <li id="about-menu" class="menu-item">
                  <a href="/about">About us</a>
                </li>
                <!-- <li id="reviews-menu" class="menu-item">
                  <a href="/reviews">Reviews</a>
                </li> -->
                <li id="support-menu" class="menu-item">
                  <a href="/support">Contact us</a>
                </li>
              </ul>

            </div>

          </div>
        </div>
        <!-- .container end -->

      </div>
      <!-- .navbar end -->

    </nav>
    <!-- #navigation end -->

    <!-- .slider-pro -->
    <div ng-if=" page == '/' " class="slider-pro">
      <div class="sp-slides">

         <div class="sp-slide">  <!-- 2 -->
          <img class="sp-image" src="assets/images/blank.gif" data-src="assets/images/content/sliders/2.jpg" alt="Image">
          <div class="header-overlay">
            <div class="container">
              <div class="header-txt header-txt-center">
                <h1 style="color: #fff;" class="sp-layer sp-layer-1" data-show-transition="down" data-show-delay="400">Payroll Solutions<br>for you</h1>
                <h2 style="color: #fff;" class="sp-layer sp-layer-2" data-show-transition="down" data-show-delay="700">Expert support to keep the freedom and flexibility of contracting, & maintaining all the benefits of being Employed.</h2>
                <div class="sp-layer sp-layer-3" data-show-transition="up" data-show-delay="1000">
                  <a href="/support" class="btn-custom">Request Callback</a>
                  <a href="/about" class="btn-custom btn-white">Learn More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>

      </div>
    </div>
    <!-- .slider-pro end -->


    <!-- .sub-header -->
    <div ng-if=" page == '/about' " style="margin-top:0px;" class="sub-header padding-top160">
        <!-- .container -->
        <div class="container">
            <h4 class="header-title">About Us</h4>
            <div class="breadcrumbs">
              <a href="/">Home</a> <span class="sep"> / </span><span class="current">About Us</span>
            </div>
        </div>
        <!-- .container end -->
    </div>
    <!-- .sub-header end -->


    <!-- .sub-header -->
    <div ng-if=" page == '/reviews' " style="margin-top:0px;" class="sub-header padding-top160">
        <!-- .container -->
        <div class="container">
            <h4 class="header-title">Reviews</h4>
            <div class="breadcrumbs">
              <a href="/">Home</a> <span class="sep"> / </span><span class="current">Reviews</span>
            </div>
        </div>
        <!-- .container end -->
    </div>
    <!-- .sub-header end -->

    <!-- .sub-header -->
    <div ng-if=" page == '/support' " style="margin-top:0px;" class="sub-header padding-top160">
        <!-- .container -->
        <div class="container">
            <h4 class="header-title">Support</h4>
            <div class="breadcrumbs">
              <a href="/">Home</a> <span class="sep"> / </span><span class="current">Support</span>
            </div>
        </div>
        <!-- .container end -->
    </div>
    <!-- .sub-header end -->



  </div>
  <!-- #header end -->
