<div navi></div>

<!-- #content -->
<div id="content">

  <!-- .container -->
  <div class="container padding-top80 padding-bottom40">

    <!-- .row -->
    <div class="row">

      <div class="col-sm-4"> <!-- 1 -->
        <div class="affa-feature-img">
          <figure><img src="assets/images/content/blog/thumb/1.jpg" alt="Thumbnail"></figure>
          <h4>What we're about</h4>
          <p>Simplicity in payroll, we offer a comprehensive payroll solution enabling you to focus on what you do best, whether its growing your business or freeing up time to enjoy life.</p>
        </div>
      </div>

      <div class="col-sm-4"> <!-- 2 -->
        <div class="affa-feature-img">
          <figure><img src="assets/images/content/blog/thumb/8.jpg" alt="Thumbnail"></figure>
          <h4>Our commitment</h4>
          <p>We guarantee our services. You can work in complete peace of mind knowing that your business admin is in professional, expert hands.</p>
        </div>
      </div>

      <div class="col-sm-4"> <!-- 3 -->
        <div class="affa-feature-img">
          <figure><img src="assets/images/content/blog/thumb/5.jpg" alt="Thumbnail"></figure>
          <h4>Flexible and Affordable</h4>
          <p>Our service is flexible to suit your needs, we understand contracting can be unpredictable and therefore have created a flexible and affordable package that works with you.</p>
        </div>
      </div>

    </div>
    <!-- .row end -->

  </div>
  <!-- .container end -->


  <!-- #features5 -->
  <div id="features5" class="bg-grey">

    <!-- .affa-col-half -->
    <div class="affa-col-half col-img-right">

      <figure class="col-img" style="background-image:url(assets/images/content/landing/product/2.jpg);"></figure>

      <!-- .container -->
      <div class="container padding-bottom40">

        <!-- .row -->
        <div class="row">

          <div class="col-md-6">
            <div class="padding-top60 padding-top110-md padding-top140-lg padding-bottom50 padding-bottom100-md padding-bottom130-lg text-center-xs">
              <div class="post-heading-left margin-bottom30">
                <h2>Tailored Plans</h2>
              </div>
              <p class="text-md">Experienced support to deal with your payroll operation from start to finish including employee PAYE and 3rd party payments, Automatic Pension Enrolment Service and provision of a dedicated telephone contact for prompt resolution of customer queries. It is easy to see why our customers love having us onboard.</p>
            </div>
          </div>

        </div>
        <!-- .row end -->

      </div>
      <!-- .container end -->

    </div>
    <!-- .affa-col-half end -->

    <!-- .affa-col-half -->
    <div class="affa-col-half">

      <figure class="col-img" style="background-image:url(assets/images/content/landing/product/3.jpg);"></figure>

      <!-- .container -->
      <div class="container">

        <!-- .row -->
        <div class="row">

          <div class="col-md-6 col-md-offset-6">
            <div class="padding-top60 padding-top110-md padding-top140-lg padding-bottom50 padding-bottom100-md padding-bottom130-lg text-center-xs">
              <div class="post-heading-left margin-bottom30">
                <h2>Professional Indemnity</h2>
              </div>
              <p class="text-md">At ExtraPay you need not worry, you will be covered by our comprehensive Professional Indemnity Cover, this protects you and your business against legal claims of negligence or breach of duty in providing a professional service or advice caused by you or your business.</p>
            </div>
          </div>

        </div>
        <!-- .row end -->

      </div>
      <!-- .container end -->

    </div>
    <!-- .affa-col-half end -->

  </div>
  <!-- #features5 end -->




  <!-- .container -->
  <div class="container padding-top80 padding-bottom40">

    <!-- .row -->
    <div class="row">

      <div class="col-sm-3">
        <div class="post-heading-left2">
          <h4><strong>How it Works</strong></h4>
        </div>
      </div>

      <!-- .col -->
      <div class="col-sm-9">

        <!-- .row -->
        <div class="row">

          <div class="col-sm-12 margin-bottom30"> <!-- 1 -->
            <h5 class="margin-bottom10"></h5>
            <p class="margin-bottom0">Once you have completed the Registration process, you will be engaged via a contract of employment which will then mean you are an employee of Extra Pay LTD, this means your tax and national insurance contributions will be made through PAYE.  We will then establish a business to business contract with the agency/agencies or End client(s). whenever you work we will raise an invoice to the agency or end client(s).</p>
          </div>

          <div class="col-sm-12 margin-bottom30"> <!-- 2 -->
            <h5 class="margin-bottom10"></h5>
            <p class="margin-bottom0">The invoice amount will be paid to Extra Pay and we will then begin with the processing of your payroll. This will include deductions for our services (Administration fee) and Employers National insurance which will be paid to HMRC. The balance is your Salary which you will pay income tax and employee national insurance contributions on. The net amount will be transferred to your account and you will receive a payslip showing a detailed breakdown.</p>
          </div>

        </div>
        <!-- .row end -->

        <!-- .row
        <div class="row">

          <div class="col-sm-12 margin-bottom30"> <!-- 3
            <h5 class="margin-bottom10"></h5>
            <p class="margin-bottom0"> </p>
          </div>

          <div class="col-sm-6 margin-bottom30"> <!-- 4
            <!-- <h5 class="margin-bottom10">Management Reports</h5>
            <p class="margin-bottom0">We provide extensive detailed reports, for all services we perform, and offer them in any format they require.</p>
          </div>

        </div>
        <!-- .row end

        <!-- .row
        <div class="row padding-bottom10">

          <div class="col-sm-6 margin-bottom30"> <!-- 5
            <!-- <h5 class="margin-bottom10">End to End Pension</h5>
            <p class="margin-bottom0">We auto enroll employees into a pension, giving the opportunity for everyone to contribute towards a pension, you can opt out.</p> -->
          </div>

          <div class="col-sm-6 margin-bottom30"> <!-- 6
            <!-- <h5 class="margin-bottom10">Insurance</h5>
            <p class="margin-bottom0">We have you covered with our comprehensive Professional Indemnity Cover meaning you are free to do business as usual.</p> 
          </div>

        </div>
        <!-- .row end -->

      </div>
      <!-- .col end -->

    </div>
    <!-- .row -->

  </div>
  <!-- .container end -->



  <!-- .bg-color -->
  <div class="bg-color text-white padding-top50 padding-bottom50">

    <!-- .container -->
    <div class="container">

      <div class="affa-call-action">
        <h2>Are you ready to take it to the next level?</h2>
        <a href="/support" class="btn-custom btn-border btn-white">Signup Now</a>
      </div>

    </div>
    <!-- .container end -->

  </div>
  <!-- .bg-color end -->



</div>
<!-- #content end -->



<div foot></div>
