<div navi></div>



    <!-- #features -->
    <div id="features" class="section-wrap padding-top80 padding-bottom40">

        <!-- .container -->
        <div class="container">

            <!-- .row -->
            <div class="row">

                <div class="col-sm-4"> <!-- 1 -->
                    <div class="affa-feature-icon">
                        <i class="ion ion-email"></i>
                        <h4>Premier Support</h4>
                        <p>Extra Pay’s support service goes beyond expectations with our business-critical support, delivering care and understanding for our clients.</p>
                        <a href="/about">Learn More <i class="ion ion-arrow-right-b"></i></a>
                    </div>
                </div>

                <div class="col-sm-4"> <!-- 2 -->
                    <div class="affa-feature-icon">
                        <i class="ion ion-card"></i>
                        <h4>Fast Payments</h4>
                        <p>Our payments are fast, instant and simple, we pay on time and every time making sure our customers get paid when they’re meant to.</p>
                        <a href="/about">Learn More <i class="ion ion-arrow-right-b"></i></a>
                    </div>
                </div>

                <div class="col-sm-4"> <!-- 3 -->
                    <div class="affa-feature-icon">
                        <i class="ion ion-clipboard"></i>
                        <h4>Quick and Easy sign up</h4>
                        <p>A quick and easy Registration process, once setup Then you’re ready to get back to what’s most important to you.</p>
                        <a href="/about">Learn More <i class="ion ion-arrow-right-b"></i></a>
                    </div>
                </div>

            </div>
            <!-- .row -->




        </div>
        <!-- .container end -->

    </div>

    <!-- #features2 -->
    <div id="features2" class="bg-grey section-wrap padding-top80 padding-bottom80-xs">

        <!-- .container -->
        <div class="container">

            <!-- .row -->
            <div class="row">

                <div class="col-sm-6 col-md-5 col-lg-4 col-md-offset-0 col-lg-offset-1 img-padding-xs">
                    <figure class="margin-bottom50-min margin-bottom50-xs">
                        <img src="assets/images/content/landing/feature-1.png" alt="Image">
                    </figure>
                </div>

                <div class="col-sm-6 col-lg-5 col-sm-offset-0 col-md-offset-1">
                    <div class="padding-top110 padding-top60-sm padding-top0-xs">
                        <div class="post-heading-left text-center-xs">
                            <h2>Great Features</h2>
                        </div>
                        <p>Gain peace of mind with our premium support and expert advice throughout. Get paid accurately, on time and enjoy full employment benefits including professional indemnity insurance all wrapped in our flexible and affordable package.</p>
                        <div class="list-icon margin-bottom0">
                            <ul>
                                <li><i class="ion ion-android-done"></i>Reduce paperwork, we take care of your Admin headaches.</li>
                                <li><i class="ion ion-android-done"></i>Have the experts by your side. Stay Compliant.</li>
                                <li><i class="ion ion-android-done"></i>Affordable pricing to suit your needs.</li>
                                <li><i class="ion ion-android-done"></i>Fully IR35 Compliant.</li>
                                <li><i class="ion ion-android-done"></i>Professional indemnity included.</li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <!-- .row end -->

        </div>
        <!-- .container end -->

    </div>
    <!-- #features2 end -->


    <!-- .row -->
    <div id="testimonials" class="padding-top100 padding-bottom60">

        <!-- .container -->
        <div class="container">
          <div class="row">

              <div class="col-sm-3">
                  <div class="post-heading-left2">
                      <h4><strong>Our Mission</strong></h4>
                  </div>
              </div>

              <div class="col-sm-9">
                <div class="row">
                    <div class="col-sm-6 margin-bottom40">
                        <p class="text-md">We set out to help navigate Contractors through the pitfalls that surround business in the UK. Having experienced contracting ourselves, We know what contractors need and what support they require from us.</p>
                          <a href="/about" class="btn-custom btn-sm btn-icon btn-icon-after">Learn More <i class="ion ion-arrow-right-b"></i></a>
                      </div>
                      <div class="col-sm-6 margin-bottom40">
                        <p class="text-md">Organising and Eliminating repetitive processes as well as keeping up to date with changes in the Law, enables us to help contractors to maximize earnings and to remove the hassle of business administration, unnecessary paperwork and the hurdles of compliance.</p>
                          <p class="margin-bottom0"></p>
                      </div>
                  </div>
              </div>

          </div> <!-- .row end -->
        </div>
      </div>



    <!-- #testimonials
        <div id="testimonials" class="bg-grey padding-top100 padding-bottom60">

            <!-- .container
            <div class="container">

                <div class="post-heading-center">
                    <h2>What Our Clients Say</h2>
                    <p>Read our customer testimonials and see for youself how well we do!</p>
                </div>

				<!-- .row
                <div class="row">

                	<div class="col-sm-6"> <!-- 1
                		<div class="affa-testimonial3">
                			<div class="testimonial-txt">
                				<p>"I've been contracting for 5 years and love how ExtraPay deals with all my invoices and expenses. I have free time now and can concentrate on the most important thing - the jobs."</p>
                			</div>
                            <div class="testimonial-name">
                                <img src="assets/images/content/avatars/1.jpg" alt="Avatar">
                                <h4>Matthew Linden</h4>
                                <p>Contractor, <span>Double Glazing</span></p>
                            </div>
                		</div>
                	</div>

                	<div class="col-sm-6"> <!-- 2
                		<div class="affa-testimonial3">
                			<div class="testimonial-txt">
                				<p>"My friend told me about ExtraPay, and that they can help with the admin side of my business. I spoke to a friendly staff member and got setup immediately. Thanks ExtraPay"</p>
                			</div>
                            <div class="testimonial-name">
                                <img src="assets/images/content/avatars/1.jpg" alt="Avatar">
                                <h4>Steven Holt</h4>
                                <p>Contractor, <span>Graphic Designer</span></p>
                            </div>
                		</div>
                	</div>

                </div>
                <!-- .row end

				<!-- .row
                <div class="row">

                	<div class="col-sm-6"> <!-- 3
                		<div class="affa-testimonial3">
                			<div class="testimonial-txt">
                				<p>"ExtraPay has supported me greatly while contracting. ExtraPay listen to me on the phone and always finds a solution to any problem I may face. I recommend ExtraPay to whoever wants a no headache contracting career."</p>
                			</div>
                            <div class="testimonial-name">
                                <img src="assets/images/content/avatars/1.jpg" alt="Avatar">
                                <h4>Craig Mckenzie</h4>
                                <p>Contractor, <span>Private Hire</span></p>
                            </div>
                		</div>
                	</div>

                	<div class="col-sm-6"> <!-- 4
                		<div class="affa-testimonial3">
                			<div class="testimonial-txt">
                				<p>"I'm a contract delivery driver and have used ExtraPay from the start. The customer service staff are really helpful and reply really fast to emails. It's a joy to use them."</p>
                			</div>
                            <div class="testimonial-name">
                                <img src="assets/images/content/avatars/1.jpg" alt="Avatar">
                                <h4>Mahmood Khan</h4>
                                <p>Contractor, <span>Delivery Driver</span></p>
                            </div>
                		</div>
                	</div>

                </div>
                <!-- .row end

            </div>
            <!-- .container end

        </div>
        <!-- #testimonials end -->



    <!-- #clients -->
    <div id="clients" class="padding-top60 padding-bottom60">

        <!-- .container -->
        <div class="container">

            <!-- .carousel-slider -->
            <div class="carousel-slider carousel-draggable carousel-clients row">

                <div class="col-sm-2"> <!-- 1 -->
                    <div class="affa-client-logo">
                        <img src="assets/images/content/clients/1.png" alt="Logo">
                    </div>
                </div>

                <div class="col-sm-2"> <!-- 2 -->
                    <div class="affa-client-logo">
                        <img src="assets/images/content/clients/2.png" alt="Logo">
                    </div>
                </div>

                <div class="col-sm-2"> <!-- 3 -->
                    <div class="affa-client-logo">
                        <img src="assets/images/content/clients/5.png" alt="Logo">
                    </div>
                </div>

                <div class="col-sm-2"> <!-- 4 -->
                    <div class="affa-client-logo">
                        <img src="assets/images/content/clients/3.png" alt="Logo">
                    </div>
                </div>

                <div class="col-sm-2"> <!-- 5 -->
                    <div class="affa-client-logo">
                        <img src="assets/images/content/clients/4.png" alt="Logo">
                    </div>
                </div>

                <div class="col-sm-2"> <!-- 5 -->
                    <div class="affa-client-logo">
                        <img src="assets/images/content/clients/6.png" alt="Logo">
                    </div>
                </div>




            </div>
            <!-- .carousel-slider end -->

        </div>
        <!-- .container end -->

    </div>
    <!-- #clients end -->

    <!-- #buynow -->
    <div id="buynow" class="bg-color text-white padding-top40 padding-bottom40">

        <!-- .container -->
        <div class="container">

            <div class="affa-call-action">
                <h2>Are you ready to take it to the next level?</h2>
                <a href="/sign-up" class="btn-custom btn-border btn-white">Start Now</a>
            </div>

        </div>
        <!-- .container end -->

    </div>
    <!-- #buynow -->



<div foot></div>
