<div navi></div>



    <!-- #features -->
    <div id="features" class="section-wrap padding-top80 padding-bottom40">

        <!-- .container -->
        <div class="container">

            <!-- .row -->
            <div class="row">

                <div class="col-sm-4"> <!-- 1 -->
                    <div class="affa-feature-icon">
                        <i class="ion ion-email animation" data-animation="animation-bounce-in-down"></i>
                        <h4>Premier Support</h4>
                        <p>Lorem ipsum dolor sit amet, nuc consectetur adipiscing elit fusce cursus leo orci, id pharetra odio varius acid diem integer accumsan.</p>
                        <a href="#">Learn More <i class="ion ion-arrow-right-b"></i></a>
                    </div>
                </div>

                <div class="col-sm-4"> <!-- 2 -->
                    <div class="affa-feature-icon">
                        <i class="ion ion-card animation" data-animation="animation-bounce-in-down" data-delay="300"></i>
                        <h4>Fast Payments</h4>
                        <p>Lorem ipsum dolor sit amet, nuc consectetur adipiscing elit fusce cursus leo orci, id pharetra odio varius acid diem integer accumsan.</p>
                        <a href="#">Learn More <i class="ion ion-arrow-right-b"></i></a>
                    </div>
                </div>

                <div class="col-sm-4"> <!-- 3 -->
                    <div class="affa-feature-icon">
                        <i class="ion ion-clipboard animation" data-animation="animation-bounce-in-down" data-delay="600"></i>
                        <h4>No More Paperwork</h4>
                        <p>Lorem ipsum dolor sit amet, nuc consectetur adipiscing elit fusce cursus leo orci, id pharetra odio varius acid diem integer accumsan.</p>
                        <a href="#">Learn More <i class="ion ion-arrow-right-b"></i></a>
                    </div>
                </div>

            </div>
            <!-- .row -->




        </div>
        <!-- .container end -->

    </div>

    <!-- #features2 -->
    <div id="features2" class="bg-grey section-wrap padding-top80 padding-bottom80-xs">

        <!-- .container -->
        <div class="container">

            <!-- .row -->
            <div class="row">

                <div class="col-sm-6 col-md-5 col-lg-4 col-md-offset-0 col-lg-offset-1 img-padding-xs">
                    <figure class="margin-bottom50-min margin-bottom50-xs">
                        <img src="assets/images/content/landing/feature-1.png" alt="Image">
                    </figure>
                </div>

                <div class="col-sm-6 col-lg-5 col-sm-offset-0 col-md-offset-1">
                    <div class="padding-top110 padding-top60-sm padding-top0-xs">
                        <div class="post-heading-left text-center-xs">
                            <h2>Great Features</h2>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit posuere diam facilisis metus ultricies tristique. Vestibulum feugiat gravida imperdiet suspendisse auctor duis ornare accumsan.</p>
                        <div class="list-icon margin-bottom0">
                            <ul>
                                <li><i class="ion ion-android-done"></i>Minimising the hassle involved with self-employment.</li>
                                <li><i class="ion ion-android-done"></i>Great value approach to pricing.</li>
                                <li><i class="ion ion-android-done"></i>Maximise your income by claiming expenses.</li>
                                <li><i class="ion ion-android-done"></i>Your Income Tax and National Insurance taken care of.</li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <!-- .row end -->

        </div>
        <!-- .container end -->

    </div>
    <!-- #features2 end -->

    <!-- #features3
    <div id="features3" data-parallax="scroll" data-speed="0.2" data-natural-width="1920" data-natural-height="1080" data-image-src="assets/images/content/bg/1.jpg">
        <div class="bg-dark-overlay90 text-white padding-top100 padding-bottom60">

            <!-- .container
            <div class="container">

                <!-- .row
                <div class="row">

                    <!-- .col
                    <div class="col-sm-6">

                        <h4 class="text-uppercase margin-bottom40">Why Choose Us?</h4>

                        <div class="panel-group affa-panel-group margin-bottom40" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Deeply Customizable</a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce cursus leo orci, id pharetra odio varius. Integer accumsan posuere erat ac porttitor. Vestibulum porttitor est mi, sed pharetra nisi dapibus sed. Maecenas iaculis leo sit amet tempor sed pharetra nisi dapibus sed maximus.</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce cursus leo id orci, id pharetra odio varius ac. Integer accumsan posuere erat acid porttitor. Vestibulum porttitor est mi, sed pharetra nisi dapibus sed. Praesent nuc eros sit amet nisl eleifend lacinia velexim nunc quis dolor.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingTwo">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Smooth And Fluent</a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                    <div class="panel-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce cursus leo orci, id pharetra odio varius. Integer accumsan posuere erat ac porttitor. Vestibulum porttitor est mi, sed pharetra nisi dapibus sed. Maecenas iaculis leo sit amet tempor sed pharetra nisi dapibus sed maximus.</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce cursus leo id orci, id pharetra odio varius ac. Integer accumsan posuere erat acid porttitor. Vestibulum porttitor est mi, sed pharetra nisi dapibus sed. Praesent nuc eros sit amet nisl eleifend lacinia velexim nunc quis dolor.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingThree">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Outstanding Support</a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                    <div class="panel-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce cursus leo orci, id pharetra odio varius. Integer accumsan posuere erat ac porttitor. Vestibulum porttitor est mi, sed pharetra nisi dapibus sed. Maecenas iaculis leo sit amet tempor sed pharetra nisi dapibus sed maximus.</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce cursus leo id orci, id pharetra odio varius ac. Integer accumsan posuere erat acid porttitor. Vestibulum porttitor est mi, sed pharetra nisi dapibus sed. Praesent nuc eros sit amet nisl eleifend lacinia velexim nunc quis dolor.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- .col end

                    <!-- .col
                    <div class="col-sm-6">

                        <h4 class="text-uppercase margin-bottom40">Our Team Skills</h4>

                        <div class="affa-progress-bar"> <!-- 1
                            <p>Photoshop Design</p>
                            <div class="progress-bar-line in">
                                <div class="bar-line-overlay" style="width:90%;">90%</div>
                                <span class="bar-line-val" style="left:90%;"><i>90</i>%</span>
                            </div>
                        </div>

                        <div class="affa-progress-bar"> <!-- 2
                            <p>Web Developer</p>
                            <div class="progress-bar-line in">
                                <div class="bar-line-overlay" style="width:85%;">85%</div>
                                <span class="bar-line-val" style="left:85%;"><i>85</i>%</span>
                            </div>
                        </div>

                        <div class="affa-progress-bar"> <!-- 3
                            <p>Social Marketing</p>
                            <div class="progress-bar-line in">
                                <div class="bar-line-overlay" style="width:95%;">95%</div>
                                <span class="bar-line-val" style="left:95%;"><i>95</i>%</span>
                            </div>
                        </div>

                        <div class="affa-progress-bar"> <!-- 4
                            <div class="progress-bar-line in">
                                <div class="bar-line-overlay" style="width:90%;">90%</div>
                                <span class="bar-line-val" style="left:90%;"><i>90</i>%</span>
                            </div>
                        </div>

                        <div class="affa-progress-bar"> <!-- 5
                            <p>WordPress Code</p>
                            <div class="progress-bar-line in">
                                <div class="bar-line-overlay" style="width:80%;">80%</div>
                                <span class="bar-line-val" style="left:80%;"><i>80</i>%</span>
                            </div>
                        </div>

                    </div>
                    <!-- .col end

                </div>
                <!-- .row end

            </div>
            <!-- .container end

        </div>
    </div>
    <!-- #features3 end

    <!-- #highlight
    <div id="highlight" class="bg-grey section-wrap" style="background-image:url(assets/images/content/bg/5.jpg);">
        <div class="bg-white-overlay90 padding-top80">

            <!-- .container
            <div class="container">

                <div class="post-heading-center">
                    <h2>You'll Love Our Theme</h2>
                </div>

                <!-- .row
                <div class="row row-counter animation" data-animation="animation-fade-in">

                    <div class="col-sm-3"> <!-- 1
                        <div class="affa-counter">
                            <h4><span>300</span></h4>
                            <i class="ion ion-beaker"></i>
                            <p>cups of coffee</p>
                        </div>
                    </div>

                    <div class="col-sm-3"> <!-- 2
                        <div class="affa-counter">
                            <h4><span>128</span>K</h4>
                            <i class="ion ion-android-favorite-outline"></i>
                            <p>happy customers</p>
                        </div>
                    </div>

                    <div class="col-sm-3"> <!-- 3
                        <div class="affa-counter">
                            <h4><span>50</span>+</h4>
                            <i class="ion ion-clipboard"></i>
                            <p>custom pages</p>
                        </div>
                    </div>

                    <div class="col-sm-3"> <!-- 4
                        <div class="affa-counter">
                            <h4><span>2560</span></h4>
                            <i class="ion ion-flash"></i>
                            <p>lines of code</p>
                        </div>
                    </div>

                </div>
                <!-- .row end

                <figure class="margin-top20 animation" data-animation="animation-slide-in-up">
                  <img src="assets/images/content/landing/feature-highlight.png" alt="Image">
                </figure>

            </div>
            <!-- .container end

        </div>
    </div>
    <!-- #highlight end

    <!-- #features5
    <div id="features5">

        <!-- .container
        <div class="container-fluid">

            <!-- .row
            <div class="row row-feature-col">

                <div class="col-md-4"> <!-- 1
                    <div class="affa-feature-col feature-col-1">
                        <i class="ion ion-ios-gear feature-icon"></i>
                        <h4>Not Just Responsive</h4>
                        <p>Lorem ipsum dolor asit ameta, consectetur adipiscing elita fusce maecenas, pharetra curus odio. Integer cuvarius orcid acuman posuere nisio dapidus portitor maximus.</p>
                        <a href="#" class="btn-custom btn-border btn-white btn-sm">Learn More<i class="ion ion-arrow-right-b"></i></a>
                        <span class="feature-num">01</span>
                    </div>
                </div>

                <div class="col-md-4"> <!-- 2 -
                    <div class="affa-feature-col feature-col-2">
                        <i class="ion ion-images feature-icon"></i>
                        <h4>High Resolution Ready</h4>
                        <p>Lorem ipsum dolor asit ameta, consectetur adipiscing elita fusce maecenas, pharetra curus odio. Integer cuvarius orcid acuman posuere nisio dapidus portitor maximus.</p>
                        <a href="#" class="btn-custom btn-border btn-white btn-sm">Learn More<i class="ion ion-arrow-right-b"></i></a>
                        <span class="feature-num">02</span>
                    </div>
                </div>

                <div class="col-md-4"> <!-- 3
                    <div class="affa-feature-col feature-col-3">
                        <i class="ion ion-happy feature-icon"></i>
                        <h4>Liked by Thousands</h4>
                        <p>Lorem ipsum dolor asit ameta, consectetur adipiscing elita fusce maecenas, pharetra curus odio. Integer cuvarius orcid acuman posuere nisio dapidus portitor maximus.</p>
                        <a href="#" class="btn-custom btn-border btn-white btn-sm">Learn More<i class="ion ion-arrow-right-b"></i></a>
                        <span class="feature-num">03</span>
                    </div>
                </div>

            </div>
            <!-- .row

        </div>
        <!-- .container end

    </div>
    <!-- #features5 end

    <div class="sep-border margin-top20 margin-bottom60"></div> <!-- separator -->


    <!-- .row -->
    <div id="testimonials" class="padding-top100 padding-bottom60">

        <!-- .container -->
        <div class="container">
          <div class="row">

              <div class="col-sm-3">
                  <div class="post-heading-left2">
                      <h4><strong>Our Mission</strong></h4>
                  </div>
              </div>

              <div class="col-sm-9">
                <div class="row">
                    <div class="col-sm-6 margin-bottom40">
                        <p class="text-md">Lorem ipsum dolor volutpat, consectetur adipiscing elit. Aenean ut euismod magna donec vel convallis sem niam. Fusce euismod purus id scelerisque um faucibus non ipsum. Vivamus convallis dolor nunci vehicula fermentum mika aliquam.</p>
                          <a href="#" class="btn-custom btn-sm btn-icon btn-icon-after">Learn More <i class="ion ion-arrow-right-b"></i></a>
                      </div>
                      <div class="col-sm-6 margin-bottom40">
                        <p>Lorem ipsum dolor volutpat, consectetur adipiscing elitas. Aenean ut euismod magna donec vel convallis sem niami. Fusce euismod purus id scelerisque faucibus non ipsum.</p>
                          <p class="margin-bottom0">Vivamus convallis dolor nunci vehicula fermentum mikas. Phasellus sed ipsum ligulano vivamus aliquam diam, velo faucibus non, ipsum scelerisque. Lorem sum dolor simet, consectetur adipiscing eliti fuscen cursus orci.</p>
                      </div>
                  </div>
              </div>

          </div> <!-- .row end -->
        </div>
      </div>



    <!-- #testimonials -->
        <div id="testimonials" class="bg-grey padding-top100 padding-bottom60">

            <!-- .container -->
            <div class="container">

                <div class="post-heading-center animation" data-animation="animation-fade-in-down">
                    <h2>What Our Clients Say</h2>
                    <p>Aliquam augue ante, tincidunt in condimentum tempus, fringilla a ante pulvinar facilisis. Vivamus tempor porta massa, ipsum vulputate est mollis quis.</p>
                </div>

				<!-- .row -->
                <div class="row">

                	<div class="col-sm-6"> <!-- 1 -->
                		<div class="affa-testimonial3 animation" data-animation="animation-fade-in-down">
                			<div class="testimonial-txt">
                				<p>"Maecenas magna dolor, feugiat ut turpis nec, ultricies id efficitur lacus. Suspendisse potenti. In ac tellus laoreet, sagittis libero ut, vulputate velit nam bibendum, ante sed tempus imperdiet."</p>
                			</div>
                            <div class="testimonial-name">
                                <img src="assets/images/content/avatars/1.jpg" alt="Avatar">
                                <h4>John Doe</h4>
                                <p>CEO & Founder, <span>Company Inc</span></p>
                            </div>
                		</div>
                	</div>

                	<div class="col-sm-6"> <!-- 2 -->
                		<div class="affa-testimonial3 animation" data-animation="animation-fade-in-down" data-delay="300">
                			<div class="testimonial-txt">
                				<p>"Maecenas magna dolor, feugiat ut turpis nec, ultricies id efficitur lacus. Suspendisse potenti. In ac tellus laoreet, sagittis libero ut, vulputate velit nam bibendum, ante sed tempus imperdiet."</p>
                			</div>
                            <div class="testimonial-name">
                                <img src="assets/images/content/avatars/1.jpg" alt="Avatar">
                                <h4>Rey Hudson</h4>
                                <p>Head Programmer, <span>Company Inc</span></p>
                            </div>
                		</div>
                	</div>

                </div>
                <!-- .row end -->

				<!-- .row -->
                <div class="row">

                	<div class="col-sm-6"> <!-- 3 -->
                		<div class="affa-testimonial3 animation" data-animation="animation-fade-in-down" data-delay="300">
                			<div class="testimonial-txt">
                				<p>"Maecenas magna dolor, feugiat ut turpis nec, ultricies id efficitur lacus. Suspendisse potenti. In ac tellus laoreet, sagittis libero ut, vulputate velit nam bibendum, ante sed tempus imperdiet."</p>
                			</div>
                            <div class="testimonial-name">
                                <img src="assets/images/content/avatars/1.jpg" alt="Avatar">
                                <h4>Diane Lane</h4>
                                <p>Lead Designer, <span>Company Inc</span></p>
                            </div>
                		</div>
                	</div>

                	<div class="col-sm-6"> <!-- 4 -->
                		<div class="affa-testimonial3 animation" data-animation="animation-fade-in-down" data-delay="600">
                			<div class="testimonial-txt">
                				<p>"Maecenas magna dolor, feugiat ut turpis nec, ultricies id efficitur lacus. Suspendisse potenti. In ac tellus laoreet, sagittis libero ut, vulputate velit nam bibendum, ante sed tempus imperdiet."</p>
                			</div>
                            <div class="testimonial-name">
                                <img src="assets/images/content/avatars/1.jpg" alt="Avatar">
                                <h4>Larry Musk</h4>
                                <p>Head Marketer, <span>Company Inc</span></p>
                            </div>
                		</div>
                	</div>

                </div>
                <!-- .row end -->

            </div>
            <!-- .container end -->

        </div>
        <!-- #testimonials end -->


    <!-- #blog
    <div id="blog" class="bg-grey padding-top80 padding-bottom80">

        <!-- .container
        <div class="container">

            <div class="post-heading-center">
                <h2>Latest Blog</h2>
                <p>Aliquam augue ante, tincidunt in condimentum tempus, fringilla a ante pulvinar facilisis. Vivamus tempor porta massa, ipsum vulputate est mollis quis.</p>
            </div>

            <!-- .carousel-slider
            <div class="carousel-slider carousel-dots carousel-dots-3col carousel-posts row">

                <div class="col-sm-4"> <!-- 1
                    <div class="affa-post">
                        <figure class="post-thumbnail post-item-thumbnail img-hover2">
                            <a href="#">
                                <img src="assets/images/content/blog/thumb/1.jpg" alt="Transitions In UX Design">
                                <div class="overlay-masked">
                                    <i class="ion ion-eye"></i>
                                </div>
                            </a>
                        </figure>
                        <div class="post-item-txt">
                          <h4 class="entry-title post-item-title">
                                <a href="#">Transitions In UX Design</a>
                            </h4>
                            <div class="entry-content post-item-content">
                                <p>Maecenas iaculis leo sit amet tempor est nullam et viverra urna, sit amet eleifend leo nunca. Curabitur porta quam sit amet nuc semper diam voluptua....</p>
                            </div>
                            <div class="entry-meta post-item-meta">
                              <p>March 10, 2017</p>
                                <a href="#" class="more-link">readmore</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4"> <!-- 2
                    <div class="affa-post">
                        <figure class="post-thumbnail post-item-thumbnail img-hover2">
                            <a href="#">
                                <img src="assets/images/content/blog/thumb/2.jpg" alt="Supernatural FX Showreel">
                                <div class="overlay-masked">
                                    <i class="ion ion-eye"></i>
                                </div>
                            </a>
                        </figure>
                        <div class="post-item-txt">
                          <h4 class="entry-title post-item-title">
                                <a href="#">Supernatural FX Showreel</a>
                            </h4>
                            <div class="entry-content post-item-content">
                                <p>Maecenas iaculis leo sit amet tempor est nullam et viverra urna, sit amet eleifend leo nunca. Curabitur porta quam sit amet nuc semper diam voluptua....</p>
                            </div>
                            <div class="entry-meta post-item-meta">
                              <p>March 10, 2017</p>
                                <a href="#" class="more-link">readmore</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4"> <!-- 3
                    <div class="affa-post">
                        <figure class="post-thumbnail post-item-thumbnail img-hover2">
                            <a href="#">
                                <img src="assets/images/content/blog/thumb/3.jpg" alt="Recent Storytelling Trends">
                                <div class="overlay-masked">
                                    <i class="ion ion-eye"></i>
                                </div>
                            </a>
                        </figure>
                        <div class="post-item-txt">
                          <h4 class="entry-title post-item-title">
                                <a href="#">Recent Storytelling Trends</a>
                            </h4>
                            <div class="entry-content post-item-content">
                                <p>Maecenas iaculis leo sit amet tempor est nullam et viverra urna, sit amet eleifend leo nunca. Curabitur porta quam sit amet nuc semper diam voluptua....</p>
                            </div>
                            <div class="entry-meta post-item-meta">
                              <p>March 10, 2017</p>
                                <a href="#" class="more-link">readmore</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4"> <!-- 4
                    <div class="affa-post">
                        <figure class="post-thumbnail post-item-thumbnail img-hover2">
                            <a href="#">
                                <img src="assets/images/content/blog/thumb/4.jpg" alt="Portugal 2017 Trip Gallery">
                                <div class="overlay-masked">
                                    <i class="ion ion-eye"></i>
                                </div>
                            </a>
                        </figure>
                        <div class="post-item-txt">
                          <h4 class="entry-title post-item-title">
                                <a href="#">Portugal 2017 Trip Gallery</a>
                            </h4>
                            <div class="entry-content post-item-content">
                                <p>Maecenas iaculis leo sit amet tempor est nullam et viverra urna, sit amet eleifend leo nunca. Curabitur porta quam sit amet nuc semper diam voluptua....</p>
                            </div>
                            <div class="entry-meta post-item-meta">
                              <p>March 10, 2017</p>
                                <a href="#" class="more-link">readmore</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4"> <!-- 5
                    <div class="affa-post">
                        <figure class="post-thumbnail post-item-thumbnail img-hover2">
                            <a href="#">
                                <img src="assets/images/content/blog/thumb/5.jpg" alt="A Quick Status Update">
                                <div class="overlay-masked">
                                    <i class="ion ion-eye"></i>
                                </div>
                            </a>
                        </figure>
                        <div class="post-item-txt">
                          <h4 class="entry-title post-item-title">
                                <a href="#">A Quick Status Update</a>
                            </h4>
                            <div class="entry-content post-item-content">
                                <p>Maecenas iaculis leo sit amet tempor est nullam et viverra urna, sit amet eleifend leo nunca. Curabitur porta quam sit amet nuc semper diam voluptua....</p>
                            </div>
                            <div class="entry-meta post-item-meta">
                              <p>March 10, 2017</p>
                                <a href="#" class="more-link">readmore</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4"> <!-- 6
                    <div class="affa-post">
                        <figure class="post-thumbnail post-item-thumbnail img-hover2">
                            <a href="#">
                                <img src="assets/images/content/blog/thumb/6.jpg" alt="Free Notebook Photos">
                                <div class="overlay-masked">
                                    <i class="ion ion-eye"></i>
                                </div>
                            </a>
                        </figure>
                        <div class="post-item-txt">
                          <h4 class="entry-title post-item-title">
                                <a href="#">Free Notebook Photos</a>
                            </h4>
                            <div class="entry-content post-item-content">
                                <p>Maecenas iaculis leo sit amet tempor est nullam et viverra urna, sit amet eleifend leo nunca. Curabitur porta quam sit amet nuc semper diam voluptua....</p>
                            </div>
                            <div class="entry-meta post-item-meta">
                              <p>March 10, 2017</p>
                                <a href="#" class="more-link">readmore</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4"> <!-- 7
                    <div class="affa-post">
                        <figure class="post-thumbnail post-item-thumbnail img-hover2">
                            <a href="#">
                                <img src="assets/images/content/blog/thumb/7.jpg" alt="The Astronauts Rule!">
                                <div class="overlay-masked">
                                    <i class="ion ion-eye"></i>
                                </div>
                            </a>
                        </figure>
                        <div class="post-item-txt">
                          <h4 class="entry-title post-item-title">
                                <a href="#">The Astronauts Rule!</a>
                            </h4>
                            <div class="entry-content post-item-content">
                                <p>Maecenas iaculis leo sit amet tempor est nullam et viverra urna, sit amet eleifend leo nunca. Curabitur porta quam sit amet nuc semper diam voluptua....</p>
                            </div>
                            <div class="entry-meta post-item-meta">
                              <p>March 10, 2017</p>
                                <a href="#" class="more-link">readmore</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4"> <!-- 8
                    <div class="affa-post">
                        <figure class="post-thumbnail post-item-thumbnail img-hover2">
                            <a href="#">
                                <img src="assets/images/content/blog/thumb/8.jpg" alt="Notebook Photo Series">
                                <div class="overlay-masked">
                                    <i class="ion ion-eye"></i>
                                </div>
                            </a>
                        </figure>
                        <div class="post-item-txt">
                          <h4 class="entry-title post-item-title">
                                <a href="#">Notebook Photo Series</a>
                            </h4>
                            <div class="entry-content post-item-content">
                                <p>Maecenas iaculis leo sit amet tempor est nullam et viverra urna, sit amet eleifend leo nunca. Curabitur porta quam sit amet nuc semper diam voluptua....</p>
                            </div>
                            <div class="entry-meta post-item-meta">
                              <p>March 10, 2017</p>
                                <a href="#" class="more-link">readmore</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4"> <!-- 9
                    <div class="affa-post">
                        <figure class="post-thumbnail post-item-thumbnail img-hover2">
                            <a href="#">
                                <img src="assets/images/content/blog/thumb/9.jpg" alt="2017 Shoe Design Trends">
                                <div class="overlay-masked">
                                    <i class="ion ion-eye"></i>
                                </div>
                            </a>
                        </figure>
                        <div class="post-item-txt">
                          <h4 class="entry-title post-item-title">
                                <a href="#">2017 Shoe Design Trends</a>
                            </h4>
                            <div class="entry-content post-item-content">
                                <p>Maecenas iaculis leo sit amet tempor est nullam et viverra urna, sit amet eleifend leo nunca. Curabitur porta quam sit amet nuc semper diam voluptua....</p>
                            </div>
                            <div class="entry-meta post-item-meta">
                              <p>March 10, 2017</p>
                                <a href="#" class="more-link">readmore</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- .carousel-slider end

        </div>
        <!-- .container end

    </div>
    <!-- #blog end -->

    <!-- #clients -->
    <div id="clients" class="padding-top60 padding-bottom60">

        <!-- .container -->
        <div class="container">

            <!-- .carousel-slider -->
            <div class="carousel-slider carousel-draggable carousel-clients row">

                <div class="col-sm-2"> <!-- 1 -->
                    <div class="affa-client-logo">
                        <img src="assets/images/content/clients/1.png" alt="Logo">
                    </div>
                </div>

                <div class="col-sm-2"> <!-- 2 -->
                    <div class="affa-client-logo">
                        <img src="assets/images/content/clients/2.png" alt="Logo">
                    </div>
                </div>

                <div class="col-sm-2"> <!-- 3 -->
                    <div class="affa-client-logo">
                        <img src="assets/images/content/clients/5.png" alt="Logo">
                    </div>
                </div>

                <div class="col-sm-2"> <!-- 4 -->
                    <div class="affa-client-logo">
                        <img src="assets/images/content/clients/3.png" alt="Logo">
                    </div>
                </div>

                <div class="col-sm-2"> <!-- 5 -->
                    <div class="affa-client-logo">
                        <img src="assets/images/content/clients/4.png" alt="Logo">
                    </div>
                </div>



            </div>
            <!-- .carousel-slider end -->

        </div>
        <!-- .container end -->

    </div>
    <!-- #clients end -->

    <!-- #buynow -->
    <div id="buynow" class="bg-color text-white padding-top40 padding-bottom40">

        <!-- .container -->
        <div class="container">

            <div class="affa-call-action">
                <h2>Are you ready to take your business to the next level?</h2>
                <a href="#" class="btn-custom btn-border btn-white">Start Now</a>
            </div>

        </div>
        <!-- .container end -->

    </div>
    <!-- #buynow -->



<div foot></div>
