<div navi></div>



    <!-- #features -->
    <div id="features" class="section-wrap padding-top80 padding-bottom40">

        <!-- .container -->
        <div class="container">

            <!-- .row -->
            <div class="row">

                <div class="col-sm-4"> <!-- 1 -->
                    <div class="affa-feature-icon">
                        <i class="ion ion-email animation" data-animation="animation-bounce-in-down"></i>
                        <h4>Premier Support</h4>
                        <p>Lorem ipsum dolor sit amet, nuc consectetur adipiscing elit fusce cursus leo orci, id pharetra odio varius acid diem integer accumsan.</p>
                        <a href="#">Learn More <i class="ion ion-arrow-right-b"></i></a>
                    </div>
                </div>

                <div class="col-sm-4"> <!-- 2 -->
                    <div class="affa-feature-icon">
                        <i class="ion ion-card animation" data-animation="animation-bounce-in-down" data-delay="300"></i>
                        <h4>Fast Payments</h4>
                        <p>Lorem ipsum dolor sit amet, nuc consectetur adipiscing elit fusce cursus leo orci, id pharetra odio varius acid diem integer accumsan.</p>
                        <a href="#">Learn More <i class="ion ion-arrow-right-b"></i></a>
                    </div>
                </div>

                <div class="col-sm-4"> <!-- 3 -->
                    <div class="affa-feature-icon">
                        <i class="ion ion-clipboard animation" data-animation="animation-bounce-in-down" data-delay="600"></i>
                        <h4>No More Paperwork</h4>
                        <p>Lorem ipsum dolor sit amet, nuc consectetur adipiscing elit fusce cursus leo orci, id pharetra odio varius acid diem integer accumsan.</p>
                        <a href="#">Learn More <i class="ion ion-arrow-right-b"></i></a>
                    </div>
                </div>

            </div>
            <!-- .row -->




        </div>
        <!-- .container end -->

    </div>

    <!-- #features2 -->
    <div id="features2" class="bg-grey section-wrap padding-top80 padding-bottom80-xs">

        <!-- .container -->
        <div class="container">

            <!-- .row -->
            <div class="row">

                <div class="col-sm-6 col-md-5 col-lg-4 col-md-offset-0 col-lg-offset-1 img-padding-xs">
                    <figure class="margin-bottom50-min margin-bottom50-xs">
                        <img src="assets/images/content/landing/feature-1.png" alt="Image">
                    </figure>
                </div>

                <div class="col-sm-6 col-lg-5 col-sm-offset-0 col-md-offset-1">
                    <div class="padding-top110 padding-top60-sm padding-top0-xs">
                        <div class="post-heading-left text-center-xs">
                            <h2>Great Features</h2>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit posuere diam facilisis metus ultricies tristique. Vestibulum feugiat gravida imperdiet suspendisse auctor duis ornare accumsan.</p>
                        <div class="list-icon margin-bottom0">
                            <ul>
                                <li><i class="ion ion-android-done"></i>Minimising the hassle involved with self-employment.</li>
                                <li><i class="ion ion-android-done"></i>Great value approach to pricing.</li>
                                <li><i class="ion ion-android-done"></i>Maximise your income by claiming expenses.</li>
                                <li><i class="ion ion-android-done"></i>Your Income Tax and National Insurance taken care of.</li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <!-- .row end -->

        </div>
        <!-- .container end -->

    </div>
    <!-- #features2 end -->


    <!-- .row -->
    <div id="testimonials" class="padding-top100 padding-bottom60">

        <!-- .container -->
        <div class="container">
          <div class="row">

              <div class="col-sm-3">
                  <div class="post-heading-left2">
                      <h4><strong>Our Mission</strong></h4>
                  </div>
              </div>

              <div class="col-sm-9">
                <div class="row">
                    <div class="col-sm-6 margin-bottom40">
                        <p class="text-md">Lorem ipsum dolor volutpat, consectetur adipiscing elit. Aenean ut euismod magna donec vel convallis sem niam. Fusce euismod purus id scelerisque um faucibus non ipsum. Vivamus convallis dolor nunci vehicula fermentum mika aliquam.</p>
                          <a href="#" class="btn-custom btn-sm btn-icon btn-icon-after">Learn More <i class="ion ion-arrow-right-b"></i></a>
                      </div>
                      <div class="col-sm-6 margin-bottom40">
                        <p>Lorem ipsum dolor volutpat, consectetur adipiscing elitas. Aenean ut euismod magna donec vel convallis sem niami. Fusce euismod purus id scelerisque faucibus non ipsum.</p>
                          <p class="margin-bottom0">Vivamus convallis dolor nunci vehicula fermentum mikas. Phasellus sed ipsum ligulano vivamus aliquam diam, velo faucibus non, ipsum scelerisque. Lorem sum dolor simet, consectetur adipiscing eliti fuscen cursus orci.</p>
                      </div>
                  </div>
              </div>

          </div> <!-- .row end -->
        </div>
      </div>



    <!-- #testimonials -->
        <div id="testimonials" class="bg-grey padding-top100 padding-bottom60">

            <!-- .container -->
            <div class="container">

                <div class="post-heading-center">
                    <h2>What Our Clients Say</h2>
                    <p>Aliquam augue ante, tincidunt in condimentum tempus, fringilla a ante pulvinar facilisis. Vivamus tempor porta massa, ipsum vulputate est mollis quis.</p>
                </div>

				<!-- .row -->
                <div class="row">

                	<div class="col-sm-6"> <!-- 1 -->
                		<div class="affa-testimonial3">
                			<div class="testimonial-txt">
                				<p>"Maecenas magna dolor, feugiat ut turpis nec, ultricies id efficitur lacus. Suspendisse potenti. In ac tellus laoreet, sagittis libero ut, vulputate velit nam bibendum, ante sed tempus imperdiet."</p>
                			</div>
                            <div class="testimonial-name">
                                <img src="assets/images/content/avatars/1.jpg" alt="Avatar">
                                <h4>John Doe</h4>
                                <p>CEO & Founder, <span>Company Inc</span></p>
                            </div>
                		</div>
                	</div>

                	<div class="col-sm-6"> <!-- 2 -->
                		<div class="affa-testimonial3">
                			<div class="testimonial-txt">
                				<p>"Maecenas magna dolor, feugiat ut turpis nec, ultricies id efficitur lacus. Suspendisse potenti. In ac tellus laoreet, sagittis libero ut, vulputate velit nam bibendum, ante sed tempus imperdiet."</p>
                			</div>
                            <div class="testimonial-name">
                                <img src="assets/images/content/avatars/1.jpg" alt="Avatar">
                                <h4>Rey Hudson</h4>
                                <p>Head Programmer, <span>Company Inc</span></p>
                            </div>
                		</div>
                	</div>

                </div>
                <!-- .row end -->

				<!-- .row -->
                <div class="row">

                	<div class="col-sm-6"> <!-- 3 -->
                		<div class="affa-testimonial3">
                			<div class="testimonial-txt">
                				<p>"Maecenas magna dolor, feugiat ut turpis nec, ultricies id efficitur lacus. Suspendisse potenti. In ac tellus laoreet, sagittis libero ut, vulputate velit nam bibendum, ante sed tempus imperdiet."</p>
                			</div>
                            <div class="testimonial-name">
                                <img src="assets/images/content/avatars/1.jpg" alt="Avatar">
                                <h4>Diane Lane</h4>
                                <p>Lead Designer, <span>Company Inc</span></p>
                            </div>
                		</div>
                	</div>

                	<div class="col-sm-6"> <!-- 4 -->
                		<div class="affa-testimonial3">
                			<div class="testimonial-txt">
                				<p>"Maecenas magna dolor, feugiat ut turpis nec, ultricies id efficitur lacus. Suspendisse potenti. In ac tellus laoreet, sagittis libero ut, vulputate velit nam bibendum, ante sed tempus imperdiet."</p>
                			</div>
                            <div class="testimonial-name">
                                <img src="assets/images/content/avatars/1.jpg" alt="Avatar">
                                <h4>Larry Musk</h4>
                                <p>Head Marketer, <span>Company Inc</span></p>
                            </div>
                		</div>
                	</div>

                </div>
                <!-- .row end -->

            </div>
            <!-- .container end -->

        </div>
        <!-- #testimonials end -->



    <!-- #clients -->
    <div id="clients" class="padding-top60 padding-bottom60">

        <!-- .container -->
        <div class="container">

            <!-- .carousel-slider -->
            <div class="carousel-slider carousel-draggable carousel-clients row">

                <div class="col-sm-2"> <!-- 1 -->
                    <div class="affa-client-logo">
                        <img src="assets/images/content/clients/1.png" alt="Logo">
                    </div>
                </div>

                <div class="col-sm-2"> <!-- 2 -->
                    <div class="affa-client-logo">
                        <img src="assets/images/content/clients/2.png" alt="Logo">
                    </div>
                </div>

                <div class="col-sm-2"> <!-- 3 -->
                    <div class="affa-client-logo">
                        <img src="assets/images/content/clients/5.png" alt="Logo">
                    </div>
                </div>

                <div class="col-sm-2"> <!-- 4 -->
                    <div class="affa-client-logo">
                        <img src="assets/images/content/clients/3.png" alt="Logo">
                    </div>
                </div>

                <div class="col-sm-2"> <!-- 5 -->
                    <div class="affa-client-logo">
                        <img src="assets/images/content/clients/4.png" alt="Logo">
                    </div>
                </div>



            </div>
            <!-- .carousel-slider end -->

        </div>
        <!-- .container end -->

    </div>
    <!-- #clients end -->

    <!-- #buynow -->
    <div id="buynow" class="bg-color text-white padding-top40 padding-bottom40">

        <!-- .container -->
        <div class="container">

            <div class="affa-call-action">
                <h2>Are you ready to take your business to the next level?</h2>
                <a href="#" class="btn-custom btn-border btn-white">Start Now</a>
            </div>

        </div>
        <!-- .container end -->

    </div>
    <!-- #buynow -->



<div foot></div>
