<div navi></div>

<!-- #content -->
<div id="content">

  <!-- #testimonials -->
      <div id="testimonials" class="bg-grey padding-top100 padding-bottom60">

          <!-- .container -->
          <div class="container">

              <div class="post-heading-center">
                  <h2>What Our Clients Say</h2>
                  <p>Aliquam augue ante, tincidunt in condimentum tempus, fringilla a ante pulvinar facilisis. Vivamus tempor porta massa, ipsum vulputate est mollis quis.</p>
              </div>

      <!-- .row -->
              <div class="row">

                <div class="col-sm-6"> <!-- 1 -->
                  <div class="affa-testimonial3">
                    <div class="testimonial-txt">
                      <p>"Maecenas magna dolor, feugiat ut turpis nec, ultricies id efficitur lacus. Suspendisse potenti. In ac tellus laoreet, sagittis libero ut, vulputate velit nam bibendum, ante sed tempus imperdiet."</p>
                    </div>
                          <div class="testimonial-name">
                              <img src="assets/images/content/avatars/1.jpg" alt="Avatar">
                              <h4>John Doe</h4>
                              <p>CEO & Founder, <span>Company Inc</span></p>
                          </div>
                  </div>
                </div>

                <div class="col-sm-6"> <!-- 2 -->
                  <div class="affa-testimonial3">
                    <div class="testimonial-txt">
                      <p>"Maecenas magna dolor, feugiat ut turpis nec, ultricies id efficitur lacus. Suspendisse potenti. In ac tellus laoreet, sagittis libero ut, vulputate velit nam bibendum, ante sed tempus imperdiet."</p>
                    </div>
                          <div class="testimonial-name">
                              <img src="assets/images/content/avatars/1.jpg" alt="Avatar">
                              <h4>Rey Hudson</h4>
                              <p>Head Programmer, <span>Company Inc</span></p>
                          </div>
                  </div>
                </div>

              </div>
              <!-- .row end -->

      <!-- .row -->
              <div class="row">

                <div class="col-sm-6"> <!-- 3 -->
                  <div class="affa-testimonial3">
                    <div class="testimonial-txt">
                      <p>"Maecenas magna dolor, feugiat ut turpis nec, ultricies id efficitur lacus. Suspendisse potenti. In ac tellus laoreet, sagittis libero ut, vulputate velit nam bibendum, ante sed tempus imperdiet."</p>
                    </div>
                          <div class="testimonial-name">
                              <img src="assets/images/content/avatars/1.jpg" alt="Avatar">
                              <h4>Diane Lane</h4>
                              <p>Lead Designer, <span>Company Inc</span></p>
                          </div>
                  </div>
                </div>

                <div class="col-sm-6"> <!-- 4 -->
                  <div class="affa-testimonial3">
                    <div class="testimonial-txt">
                      <p>"Maecenas magna dolor, feugiat ut turpis nec, ultricies id efficitur lacus. Suspendisse potenti. In ac tellus laoreet, sagittis libero ut, vulputate velit nam bibendum, ante sed tempus imperdiet."</p>
                    </div>
                          <div class="testimonial-name">
                              <img src="assets/images/content/avatars/1.jpg" alt="Avatar">
                              <h4>Larry Musk</h4>
                              <p>Head Marketer, <span>Company Inc</span></p>
                          </div>
                  </div>
                </div>

              </div>
              <!-- .row end -->
              <div class="row">

                <div class="col-sm-6"> <!-- 1 -->
                  <div class="affa-testimonial3" >
                    <div class="testimonial-txt">
                      <p>"Maecenas magna dolor, feugiat ut turpis nec, ultricies id efficitur lacus. Suspendisse potenti. In ac tellus laoreet, sagittis libero ut, vulputate velit nam bibendum, ante sed tempus imperdiet."</p>
                    </div>
                          <div class="testimonial-name">
                              <img src="assets/images/content/avatars/1.jpg" alt="Avatar">
                              <h4>John Doe</h4>
                              <p>CEO & Founder, <span>Company Inc</span></p>
                          </div>
                  </div>
                </div>

                <div class="col-sm-6"> <!-- 2 -->
                  <div class="affa-testimonial3">
                    <div class="testimonial-txt">
                      <p>"Maecenas magna dolor, feugiat ut turpis nec, ultricies id efficitur lacus. Suspendisse potenti. In ac tellus laoreet, sagittis libero ut, vulputate velit nam bibendum, ante sed tempus imperdiet."</p>
                    </div>
                          <div class="testimonial-name">
                              <img src="assets/images/content/avatars/1.jpg" alt="Avatar">
                              <h4>Rey Hudson</h4>
                              <p>Head Programmer, <span>Company Inc</span></p>
                          </div>
                  </div>
                </div>

              </div>
              <!-- .row end -->

      <!-- .row -->
              <div class="row">

                <div class="col-sm-6"> <!-- 3 -->
                  <div class="affa-testimonial3">
                    <div class="testimonial-txt">
                      <p>"Maecenas magna dolor, feugiat ut turpis nec, ultricies id efficitur lacus. Suspendisse potenti. In ac tellus laoreet, sagittis libero ut, vulputate velit nam bibendum, ante sed tempus imperdiet."</p>
                    </div>
                          <div class="testimonial-name">
                              <img src="assets/images/content/avatars/1.jpg" alt="Avatar">
                              <h4>Diane Lane</h4>
                              <p>Lead Designer, <span>Company Inc</span></p>
                          </div>
                  </div>
                </div>

                <div class="col-sm-6"> <!-- 4 -->
                  <div class="affa-testimonial3">
                    <div class="testimonial-txt">
                      <p>"Maecenas magna dolor, feugiat ut turpis nec, ultricies id efficitur lacus. Suspendisse potenti. In ac tellus laoreet, sagittis libero ut, vulputate velit nam bibendum, ante sed tempus imperdiet."</p>
                    </div>
                          <div class="testimonial-name">
                              <img src="assets/images/content/avatars/1.jpg" alt="Avatar">
                              <h4>Larry Musk</h4>
                              <p>Head Marketer, <span>Company Inc</span></p>
                          </div>
                  </div>
                </div>

              </div>
              <!-- .row end -->

          </div>
          <!-- .container end -->

      </div>
      <!-- #testimonials end -->


<!-- .bg-color -->
<div class="bg-color text-white padding-top50 padding-bottom50">

    <!-- .container -->
    <div class="container">

        <div class="affa-call-action">
            <h2>Are you ready to take it to the next level?</h2>
            <a href="#" class="btn-custom btn-border btn-white">Purchase Now</a>
        </div>

    </div>
    <!-- .container end -->

</div>
<!-- .bg-color end -->



</div>
<!-- #content end -->



  <div foot></div>
