<div navi></div>

<!-- #content -->
<div id="content">

  <!-- #testimonials -->
      <div id="testimonials" class="bg-grey padding-top100 padding-bottom60">

          <!-- .container -->
          <div class="container">

              <div class="post-heading-center">
                  <h2>What Our Clients Say</h2>
                  <p>Read our customer testimonials and see for youself how well we do!</p>
              </div>

      <!-- .row -->
      <div class="row">

        <div class="col-sm-6"> <!-- 1 -->
          <div class="affa-testimonial3">
            <div class="testimonial-txt">
              <p>"I've been contracting for 5 years and love how ExtraPay deals with all my invoices and expenses. I have free time now and can concentrate on the most important thing - the jobs."</p>
            </div>
                  <div class="testimonial-name">
                      <img src="assets/images/content/avatars/1.jpg" alt="Avatar">
                      <h4>Matthew Linden</h4>
                      <p>Contractor, <span>Double Glazing</span></p>
                  </div>
          </div>
        </div>

        <div class="col-sm-6"> <!-- 2 -->
          <div class="affa-testimonial3">
            <div class="testimonial-txt">
              <p>"My friend told me about ExtraPay, and that they can help with the admin side of my business. I spoke to a friendly staff member and got setup immediately. Thanks ExtraPay"</p>
            </div>
                  <div class="testimonial-name">
                      <img src="assets/images/content/avatars/1.jpg" alt="Avatar">
                      <h4>Steven Holt</h4>
                      <p>Contractor, <span>Graphic Designer</span></p>
                  </div>
          </div>
        </div>

      </div>
      <!-- .row end -->

<!-- .row -->
      <div class="row">

        <div class="col-sm-6"> <!-- 3 -->
          <div class="affa-testimonial3">
            <div class="testimonial-txt">
              <p>"ExtraPay has supported me greatly while contracting. ExtraPay listen to me on the phone and always finds a solution to any problem I may face. I recommend ExtraPay to whoever wants a no headache contracting career."</p>
            </div>
                  <div class="testimonial-name">
                      <img src="assets/images/content/avatars/1.jpg" alt="Avatar">
                      <h4>Craig Mckenzie</h4>
                      <p>Contractor, <span>Private Hire</span></p>
                  </div>
          </div>
        </div>

        <div class="col-sm-6"> <!-- 4 -->
          <div class="affa-testimonial3">
            <div class="testimonial-txt">
              <p>"I'm a contract delivery driver and have used ExtraPay from the start. The customer service staff are really helpful and reply really fast to emails. It's a joy to use them."</p>
            </div>
                  <div class="testimonial-name">
                      <img src="assets/images/content/avatars/1.jpg" alt="Avatar">
                      <h4>Mahmood Khan</h4>
                      <p>Contractor, <span>Delivery Driver</span></p>
                  </div>
          </div>
        </div>

      </div>
      <!-- .row end -->

          </div>
          <!-- .container end -->

      </div>
      <!-- #testimonials end -->


<!-- .bg-color -->
<div class="bg-color text-white padding-top50 padding-bottom50">

    <!-- .container -->
    <div class="container">

        <div class="affa-call-action">
            <h2>Are you ready to take it to the next level?</h2>
            <a href="#" class="btn-custom btn-border btn-white">Purchase Now</a>
        </div>

    </div>
    <!-- .container end -->

</div>
<!-- .bg-color end -->



</div>
<!-- #content end -->



  <div foot></div>
