.sp-slides-container {
  padding-top: 119px;
}

#header .header-overlay.header-overlay70 {
    /*background-color: transparent;*/
}

#header .header-overlay {
    padding-top: 0px;
    background-color: transparent;
}

.tag-img {
  margin-left: 40px;
  max-width: 350px;
  max-height: 40px;
  vertical-align: top;
}


.navtop {
  background: url(../images/content/tag.jpg) right center no-repeat;
  background-color: #fff !important;
  color: #777 !important;
}

#navigation .navtop a {
    color: #777;
}

#navigation .navbar {
  background: url(../images/content/blue-border.jpg) right bottom no-repeat;
  box-shadow: none;
}

#navigation .nav > li {
    padding: 24px 15px 25px;
}

#header .sub-header {
    background-image: url(../images/bg-sub-header.png);
    background-position: 0px 119px;
    background-color: #fff;
    background-repeat: repeat-x;

}

#navigation .navbar-logo img {
    height: 75px;
}

#navigation .navbar-logo {
    padding-top: 0px;
    margin-bottom: -5px;
}

.embed-map {
    height: 100%;
}


@media (max-width: 991px) {

  .sp-slides-container {
    padding-top: 0px;
  }

  .sub-header {
    padding-top: 25px !important;
  }

}
