.sp-slides-container {
  padding-top: 121px;
}

#header .header-overlay.header-overlay70 {
    background-color: transparent;
}

#header .header-overlay {
    padding-top: 0px;
}

.tag-img {
  margin-left: 40px;
  max-width: 350px;
  max-height: 40px;
}

@media (max-width: 991px) {

  .sp-slides-container {
    padding-top: 0px;
  }

  .sub-header {
    padding-top: 25px !important;
  }

}
