<!DOCTYPE html>
<html ng-app="app" lang="en">

<base href="/">

<div ng-view autoscroll></div>

<!-- Vendor JS -->
<script type="text/javascript" src="/assets/js/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery-migrate-1.4.1.min.js"></script>
<script type="text/javascript" src="/assets/libs/angular/angular.min.js"></script>
<script type="text/javascript" src="/assets/libs/angular-route/angular-route.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.easing.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.plugin.min.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/js/response.min.js"></script>
<script type="text/javascript" src="/assets/js/waypoints.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.scroll-with-ease.js"></script>
<script type="text/javascript" src="/assets/js/jquery.placeholder.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.fitvids.js"></script>
<script type="text/javascript" src="/assets/js/jquery.mousewheel-3.0.6.pack.js"></script>
<script type="text/javascript" src="/assets/js/jquery.scrollbar.min.js"></script>
<script type="text/javascript" src="/assets/js/parallax.min.js"></script>
<script type="text/javascript" src="/assets/js/isotope.pkgd.min.js"></script>
<script type="text/javascript" src="/assets/js/slick.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.fancybox.pack.js"></script>
<script type="text/javascript" src="/assets/js/jquery.fancybox-media.js"></script>
<script type="text/javascript" src="/assets/js/jquery.counterup.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.countdown.min.js"></script>
<script type="text/javascript" src="/assets/js/script.js"></script>

  <!-- Current Page Scripts -->
<script type="text/javascript" src="/assets/js/jquery.sliderPro.min.js"></script>

<!-- Angular App JS -->
<script src="/app/app.js"></script>
<script src="/app/appRoutes.js"></script>
<script src="/app/ctrl.js"></script>
<script src="/app/directives.js"></script>
<script src="/app/services.js"></script>
